streamlit
python-dotenv
requests
trafilatura
numpy<2.0
chromadb==0.4.24
protobuf==3.20.3
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-groq
sentence-transformers==3.3.1
torch==2.5.1
